In [18]:
!mkdir dd

mkdir: cannot create directory ‘dd’: File exists

In [19]:
from google_drive_downloader import GoogleDriveDownloader as gdd

gdd.download_file_from_google_drive(file_id='11C5xkdnvlgwSTvbZBfymPum_SZlh8V1E',
                                    dest_path='dd/uid_to_user_id.csv',
                                    unzip=True)
gdd.download_file_from_google_drive(file_id='1NvnFhXgJbL_jYIyqcdmVfNY5YKSSOrkl',
                                    dest_path='dd/internal_events.csv',
                                    unzip=True)
gdd.download_file_from_google_drive(file_id='11tLPWrKUXS2qFZWU94HzxDljS3vTDeQV',
                                    dest_path='dd/billing_sys.csv',
                                    unzip=True)
gdd.download_file_from_google_drive(file_id='1StGze-935haC3uOKBn7WcHy5z_2pn1iu',
                                    dest_path='dd/ad_sys.csv',
                                    unzip=True)

In [20]:
import pandas as pd
import numpy as np

In [21]:
ad_sys = pd.read_csv('dd/ad_sys.csv')
billing_sys = pd.read_csv('dd/billing_sys.csv')
internal_events = pd.read_csv('dd/internal_events.csv')
uid_to_user_id = pd.read_csv('dd/uid_to_user_id.csv')

In [103]:
traffic_id = []

In [43]:
ad_sys_sorted = ad_sys.sort_values('date')
ad_sys_sorted.head()

           date  revenue    spent                   _collected_at  affid
0    2021-04-08     0.00    10.99  2021-04-08 07:17:50.998301 UTC   1008
102  2021-04-08  3766.57  5577.90  2021-04-09 22:46:57.231283 UTC   1008
101  2021-04-08  3766.57  5577.30  2021-04-09 22:23:49.591437 UTC   1008
100  2021-04-08  3766.57  5577.28  2021-04-09 22:01:16.899356 UTC   1008
99   2021-04-08  3766.57  5577.24  2021-04-09 21:38:10.424114 UTC   1008

In [60]:
dates = list(ad_sys_sorted['date'].drop_duplicates())

In [107]:
traffic_id.append(ad_sys['affid'].drop_duplicates()[0])

In [72]:
revenue_traffic_source = [sum(ad_sys[ad_sys["date"] == i]['revenue']) for i in dates]

In [102]:
spent_traffic_source = [sum(ad_sys[ad_sys["date"] == i]['spent']) for i in dates]
spent_traffic_source

[660741.0000000003,
 476842.890000001,
 962145.4499999995,
 1131503.600000003,
 555452.69]

In [44]:
ad_sys_sorted['affid'].value_counts()

1008    775
Name: affid, dtype: int64

In [45]:
billing_sys_sorted = billing_sys.sort_values('created_at')
billing_sys_sorted.head()

                   created_at   affid  amount       uid
808   2021-04-08 00:42:37 UTC  1210.0    39.0  af95dacc
1059  2021-04-08 00:42:39 UTC  1210.0    17.0  af95dacc
352   2021-04-08 01:40:32 UTC     NaN    39.0  5222f905
404   2021-04-08 01:40:35 UTC     NaN    17.0  5222f905
891   2021-04-08 01:43:14 UTC     NaN    39.0  78bbfd33

In [113]:
billing_traffic_id = [int(i) for i in billing_sys['affid'].dropna().drop_duplicates()]
for i in billing_traffic_id:
    if not(i in traffic_id):
        traffic_id.append(i)
traffic_id

[1008,
 1210,
 1999,
 1401,
 1402,
 1211,
 1238,
 1009,
 1012,
 1510,
 1042,
 1026,
 1997,
 1998,
 1209,
 1000]

In [97]:
dates_billing = [i[:10] for i in billing_sys_sorted['created_at']]
billing_sys_sorted_1 = billing_sys_sorted[:]

In [98]:
billing_sys_sorted_1['dates'] = dates_billing
billing_sys_sorted_1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                   created_at   affid  amount       uid       dates
808   2021-04-08 00:42:37 UTC  1210.0    39.0  af95dacc  2021-04-08
1059  2021-04-08 00:42:39 UTC  1210.0    17.0  af95dacc  2021-04-08
352   2021-04-08 01:40:32 UTC     NaN    39.0  5222f905  2021-04-08
404   2021-04-08 01:40:35 UTC     NaN    17.0  5222f905  2021-04-08
891   2021-04-08 01:43:14 UTC     NaN    39.0  78bbfd33  2021-04-08
...                       ...     ...     ...       ...         ...
364   2021-04-11 23:33:47 UTC     NaN    39.0  a16592dd  2021-04-11
317   2021-04-11 23:33:47 UTC  1999.0    39.0  f629796f  2021-04-11
424   2021-04-11 23:33:47 UTC     NaN    17.0  a16592dd  2021-04-11
322   2021-04-11 23:40:50 UTC  1998.0    39.0  46c9243d  2021-04-11
821   2021-04-11 23:52:27 UTC  1210.0    39.0  c0bc9584  2021-04-11

[1125 rows x 5 columns]

In [100]:
revenue_billing_system = [sum(billing_sys_sorted_1[billing_sys_sorted_1['dates'] == i]['amount']) for i in dates]
revenue_billing_system

[11408.359999999997,
 12738.809999999994,
 13025.199999999999,
 15427.759999999995,
 0]

In [56]:
billing_sys_sorted['created_at']

808     2021-04-08 00:42:37 UTC
1059    2021-04-08 00:42:39 UTC
352     2021-04-08 01:40:32 UTC
404     2021-04-08 01:40:35 UTC
891     2021-04-08 01:43:14 UTC
                 ...
364     2021-04-11 23:33:47 UTC
317     2021-04-11 23:33:47 UTC
424     2021-04-11 23:33:47 UTC
322     2021-04-11 23:40:50 UTC
821     2021-04-11 23:52:27 UTC
Name: created_at, Length: 1125, dtype: object

In [87]:
internal_events_sorted = internal_events.sort_values('created_at')
internal_events_sorted.head()

                          created_at   affid  revenue   user_id
524   2021-04-08 00:42:41.660847 UTC  1210.0     39.0  15231978
838   2021-04-08 00:42:41.696956 UTC  1210.0     17.0  15231978
541   2021-04-08 01:40:38.070808 UTC     NaN     17.0  15232455
1285  2021-04-08 01:41:58.149923 UTC     NaN     39.0  15232455
1212  2021-04-08 01:43:18.045212 UTC     NaN     39.0  15232476

In [115]:
events_traffic_id = [int(i) for i in internal_events['affid'].dropna().drop_duplicates()]
for i in events_traffic_id:
    if not(i in traffic_id):
        traffic_id.append(i)

In [88]:
dates_events = [i[:10] for i in internal_events_sorted['created_at']]
internal_events_sorted_1 = internal_events_sorted[:]

In [93]:
internal_events_sorted_1['dates'] = dates_events
internal_events_sorted_1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                          created_at   affid  revenue   user_id       dates
524   2021-04-08 00:42:41.660847 UTC  1210.0     39.0  15231978  2021-04-08
838   2021-04-08 00:42:41.696956 UTC  1210.0     17.0  15231978  2021-04-08
541   2021-04-08 01:40:38.070808 UTC     NaN     17.0  15232455  2021-04-08
1285  2021-04-08 01:41:58.149923 UTC     NaN     39.0  15232455  2021-04-08
1212  2021-04-08 01:43:18.045212 UTC     NaN     39.0  15232476  2021-04-08
...                              ...     ...      ...       ...         ...
1284  2021-04-11 23:33:25.845878 UTC  1999.0     17.0  15251526  2021-04-11
1308  2021-04-11 23:33:50.690354 UTC     NaN     56.0  15251529  2021-04-11
256   2021-04-11 23:33:51.187994 UTC  1999.0     39.0  15251466  2021-04-11
1309  2021-04-11 23:40:52.799550 UTC  1998.0     39.0  15251452  2021-04-11
72    2021-04-11 23:52:31.252695 UTC  1210.0     39.0  15251576  2021-04-11

[1459 rows x 5 columns]

In [95]:
revenue_pixel = [sum(internal_events_sorted_1[i == internal_events_sorted_1['dates']]['revenue']) for i in dates]

In [96]:
revenue_pixel

[18649.169999999987,
 21337.160000000014,
 29908.020000000048,
 33605.350000000064,
 0]

In [48]:
internal_events['affid'].value_counts()

2010.0    442
1008.0    290
1999.0    164
1210.0    160
1402.0    110
2999.0     47
1211.0     35
1209.0     27
1009.0     25
1401.0     16
1997.0      6
1998.0      6
1000.0      4
1238.0      3
1042.0      3
2510.0      1
1012.0      1
1026.0      1
1510.0      1
2211.0      1
Name: affid, dtype: int64

In [117]:
traffic_id.sort()

In [121]:
traffic_id_names_col = ['revenue_' + str(i) for i in traffic_id]
traffic_id_names_col

['revenue_1000',
 'revenue_1008',
 'revenue_1009',
 'revenue_1012',
 'revenue_1026',
 'revenue_1042',
 'revenue_1209',
 'revenue_1210',
 'revenue_1211',
 'revenue_1238',
 'revenue_1401',
 'revenue_1402',
 'revenue_1510',
 'revenue_1997',
 'revenue_1998',
 'revenue_1999',
 'revenue_2010',
 'revenue_2211',
 'revenue_2510',
 'revenue_2999']

In [148]:
revenue_ = [0 for i in traffic_id]

In [138]:
billing_sys_sorted

775

In [149]:
for id in range(len(traffic_id)):
    revenue_[id] = []
    for date in dates:
        summ = 0
        ass = ad_sys_sorted[ad_sys_sorted['date'] == date][['revenue','affid']]
        summ += sum(ass[ass['affid'] == traffic_id[id]]['revenue'])
        bss = billing_sys_sorted_1[billing_sys_sorted_1['dates'] == date][['amount','affid']]
        summ += sum(bss[bss['affid'] == traffic_id[id]]['amount'])
        ies = internal_events_sorted_1[internal_events_sorted_1['dates'] == date][['revenue','affid']]
        summ += sum(ies[ies['affid'] == traffic_id[id]]['revenue'])
        revenue_[id].append(summ)

In [150]:
columns_name = ['date', 'revenue_traffic_source', 'revenue_pixel', 'revenue_billing_system']
for i in traffic_id_names_col:
    columns_name.append(i)
columns_name.append('spent_traffic_source')
columns_name

['date',
 'revenue_traffic_source',
 'revenue_pixel',
 'revenue_billing_system',
 'revenue_1000',
 'revenue_1008',
 'revenue_1009',
 'revenue_1012',
 'revenue_1026',
 'revenue_1042',
 'revenue_1209',
 'revenue_1210',
 'revenue_1211',
 'revenue_1238',
 'revenue_1401',
 'revenue_1402',
 'revenue_1510',
 'revenue_1997',
 'revenue_1998',
 'revenue_1999',
 'revenue_2010',
 'revenue_2211',
 'revenue_2510',
 'revenue_2999',
 'spent_traffic_source']

In [49]:
uid_to_user_id.head()

        uid   user_id
0  ab99a80e  15240245
1  f7c8256c  15235689
2  6b7dd846  15233251
3  685c6868  15240351
4  54314e60  15243647

In [159]:
itog_df = pd.DataFrame({'date':dates})
itog_df['revenue_traffic_source'] = revenue_traffic_source
itog_df['revenue_pixel'] = revenue_pixel
itog_df['revenue_billing_system'] = revenue_billing_system
for i in range(len(traffic_id_names_col)):
    itog_df[traffic_id_names_col[i]] = revenue_[i]
itog_df['spent_traffic_source'] = spent_traffic_source
#itog_df.index = dates #Это если захочется индексирование по датам
itog_df

                  date  ...  spent_traffic_source
2021-04-08  2021-04-08  ...             660741.00
2021-04-09  2021-04-09  ...             476842.89
2021-04-10  2021-04-10  ...             962145.45
2021-04-11  2021-04-11  ...            1131503.60
2021-04-12  2021-04-12  ...             555452.69

[5 rows x 25 columns]